.card {
    margin: 10px 40px 10px 40px;
    text-align: center;
    padding: 10px;
}

.form-inline {
    padding-left: 40px;
    padding-top: 10px;
}

.display-4 {
    height: 80px;
}

.animeButton {
    margin: 5px;
}

.accordion .card:first-of-type {
    border-radius: .25rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
}